@import url("https://fonts.googleapis.com/css2?family=Piazzolla&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Victor+Mono:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mali:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  min-height: 100%;
}

body {
  display: flex;
  padding: 100px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  background-color: #282a56;
}

.container {
  display: flex;
  justify-content: center;
  gap: 90px;
  flex-wrap: wrap;
}

.word {
  max-width: max-content;
  display: flex;
  gap: 20px;
}

.word > span {
  position: relative;
  padding: 20px 30px;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90px;
  max-height: 90px;
  border: 6px solid grey;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.8s ease-in-out;
}

/* Sample CSS for the WHY word */

.whyWLetter {
  font-size: 72px;
  font-weight: bold;
  color: aqua;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Piazolla", sans-serif;
}

.whyHLetter {
  font-size: 30px;
  font-weight: bold;
  color: darkgoldenrod;
  text-decoration: overline;
  text-transform: lowercase;
  font-family: "Ceviche One", sans-serif;
}

.whyYLetter {
  font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Raleway Dots", sans-serif;
}
.size-12 {
  font-size: 12px;
}
.size-15 {
  font-size: 15px;
}
.size-20 {
  font-size: 20px;
}
.size-35 {
  font-size: 35px;
}
.size-45 {
  font-size: 45px;
}
.size-55 {
  font-size: 55px;
}
.size-60 {
  font-size: 60px;
}
.size-70 {
  font-size: 70px;
}

.didDLetter,
.frontendNTwoLetter,
.developerPLetter,
.becauseBLetter,
.theyHLetter,
.wantedTLetter,
.improvePLetter,
.skillsSLetter {
  color: plum;
  font-weight: bold;
  text-decoration: underline;
  text-transform: capitalize;
  font-family: "Ceviche One", sans-serif;
}
.didILetter,
.developerLLetter,
.takeKLetter,
.gardeningGTwoLetter,
.theyTLetter,
.wantedALetter,
.improveILetter,
.theirILetter,
.skillsKLetter {
  color: orange;
  font-weight: normal;
  text-decoration: line-through;
  text-transform: lowercase;
  font-family: "Victor Mono", sans-serif;
}
.didDTwoLetter,
.developerETwoLetter,
.developerRLetter,
.gardeningNTwoLetter,
.becauseELetter,
.theyYLetter,
.theirRLetter,
.skillsILetter {
  color: #3cb371;
  font-weight: 400;
  text-decoration: overline;
  text-transform: uppercase;
  font-family: "Cormorant Infant", sans-serif;
}
.theTLetter,
.frontendELetter,
.takeALetter,
.gardeningILetter,
.becauseALetter,
.wantedNLetter,
.theirTLetter,
.skillsLLetter {
  color: #0000ff;
  font-weight: 700;
  text-decoration: none;
  text-transform: none;
  font-family: "Mali", sans-serif;
}
.theHLetter,
.frontendDLetter,
.developerEThreeLetter,
.gardeningNLetter,
.becauseULetter,
.wantedELetter,
.improveVLetter,
.skillsLTwoLetter {
  color: #6a5acd;
  font-weight: 700;
  text-decoration: line-through;
  text-transform: none;
  font-family: "Raleway Dots", sans-serif;
}
.theELetter,
.developerOLetter,
.upULetter,
.gardeningELetter,
.becauseSLetter,
.wantedDLetter,
.toOLetter,
.theirELetter,
.skillsSTwoLetter {
  color: hsla(201 91% 23% / 0.75);
  font-weight: 400;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Mali", sans-serif;
}
.frontendFLetter,
.frontendTLetter,
.takeELetter,
.gardeningDLetter,
.theyELetter,
.improveMLetter,
.theirHLetter,
.rootTLetter,
.hyphen {
  color: hsla(59 100% 29% / 0.9);
  font-weight: normal;
  text-decoration: none;
  text-transform: capitalize;
  font-family: "Victor Mono", sans-serif;
}
.frontendRLetter,
.developerVLetter,
.takeTLetter,
.gardeningRLetter,
.toTLetter,
.improveRLetter,
.rootOTwoLetter,
.question-mark {
  color: rgb(254 0 0);
  font-weight: bold;
  text-decoration: overline;
  text-transform: lowercase;
  font-family: "Cormorant Infant", sans-serif;
}
.frontendOLetter,
.developerELetter,
.upPLetter,
.gardeningALetter,
.becauseETwoLetter,
.improveOLetter,
.rootOLetter,
.exclamation-mark {
  color: rgb(0 255 0);
  font-weight: bold;
  text-decoration: overline;
  text-transform: capitalize;
  font-family: "Victor Mono", sans-serif;
}
.frontendNLetter,
.developerDLetter,
.gardeningGLetter,
.becauseCLetter,
.wantedWLetter,
.improveELetter,
.rootRLetter {
  color: rgb(203 222 158);
  font-weight: 400;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Piazolla", sans-serif;
}

/* DID word */

/* .didDLetter {
}

.didILetter {
}

.didDTwoLetter {
} */

/* THE word */

/* .theTLetter {
}

.theHLetter {
}

.theELetter {
} */

/* FRONT-END word */

/* .frontendFLetter {
}

.frontendRLetter {
}

.frontendOLetter {
}

.frontendNLetter {
}

.frontendTLetter {
}

.frontendELetter {
}

.frontendNTwoLetter {
}

.frontendDLetter {
} */

/* DEVELOPER word */

/* .developerDLetter {
}
.developerELetter {
}
.developerVLetter {
}
.developerETwoLetter {
}
.developerLLetter {
}
.developerOLetter {
}
.developerPLetter {
}
.developerEThreeLetter {
}
.developerRLetter {
} */

/* TAKE word */

/* .takeTLetter {
}
.takeALetter {
}
.takeKLetter {
}
.takeELetter {
} */

/* UP word */

/* .upULetter {
}
.upPLetter {
} */

/* GARDENING word */

/* .gardeningGLetter {
}
.gardeningALetter {
}
.gardeningRLetter {
}
.gardeningDLetter {
}
.gardeningELetter {
}
.gardeningNLetter {
}
.gardeningILetter {
}
.gardeningNTwoLetter {
}
.gardeningGTwoLetter {
} */

/* BECAUSE word */

/* .becauseBLetter {
}
.becauseELetter {
}
.becauseCLetter {
}
.becauseALetter {
}
.becauseULetter {
}
.becauseSLetter {
}
.becauseETwoLetter {
} */

/* THEY word */

/* .theyTLetter {
}
.theyHLetter {
}
.theyELetter {
}
.theyYLetter {
} */

/* WANTED word */

/* .wantedWLetter {
}
.wantedALetter {
}
.wantedNLetter {
}
.wantedTLetter {
}
.wantedELetter {
}
.wantedDLetter {
} */

/* TO word */

/* .toTLetter {
}
.toOLetter {
} */

/* IMPROVE word */

/* .improveILetter {
}
.improveMLetter {
}
.improvePLetter {
}
.improveRLetter {
}
.improveOLetter {
}
.improveVLetter {
}
.improveELetter {
} */

/* THEIR word */

/* .theirTLetter {
}
.theirHLetter {
}
.theirELetter {
}
.theirILetter {
}
.theirRLetter {
} */

/* ROOT word */

/* .rootRLetter {
}
.rootOLetter {
}
.rootOTwoLetter {
}
.rootTLetter {
} */

/* SKILLS word */

/* .skillsSLetter {
}
.skillsKLetter {
}
.skillsILetter {
}
.skillsLLetter {
}
.skillsLTwoLetter {
}
.skillsSTwoLetter {
} */

/* SYMBOLS */

/* .hyphen {
}
.exclamation-mark {
}
.question-mark {
} */
